@model NimapMachineTestSolution.Models.Category

@{
    ViewBag.Title = "Create Category";
}

<h2>Create Category</h2>

@using (Html.BeginForm("Create", "Category", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.CategoryName)
        @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CategoryName)
    </div>
    <button type="submit" class="btn btn-success">Create</button>
}
