@{
    ViewBag.Title = "Home Page ";
}


<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p> 1) Here is the home page of our application.</p>
    <p> 2) You can click on the "Products" and "Categories" links in the navigation bar above to view CRUD operations.</p>
</main>